@charset "utf-8";
body{
	margin: 0;
	padding:none;
	background: url(1.jpg);
	
	background-position: center;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}
.loginbox{
	width: 320px;
	height:420px;
	background:#0000;
	color:#3A312D;
	top:50%;
	left:50%;
	position: absolute;
	transform:translate(-50%,-50%);
	box-sizing: border-box;
	
}
.avatar{
	width: 104px;
	height: 104px;
	border-radius: 50%;
	position: absolute;
	top: -100px;
	left: 100px;
}
.loginbox p{
	margin: 0;
	padding: 0;
	font-weight: bold;
	color:#F84500;
	font-size: 20px;
}
.loginbox input{
	width: 100%;
	margin-bottom: 20px;
}
.loginbox input[type="text"],input[type="password"]
{
	border:none;
	border-bottom: 1px solid #fff;
	background: none;
	outline: none;
	height:40px;
	color:#fff;
	font-size: 16px;
	
}
h1{
	color: orangered;
	text-align: center;
}
h2{
	color: orangered;
font-size: 30px;}
.loginbox input[type="submit"]{
	border: none;
}
#submit{
	background-color:orangered;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";font-size: 15px;
	
}
